*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#fondoFormulario{
    background-image: url(images/DSCF5789.01.jpg) ;
    background-size: cover;
    height:600px;
    width: 100%;
}
form{
    margin: 10px;
    padding: 10px;
}
